api/app/local_config.py
docker/db/postgres_data/*
docker/db/redis_data/*
.pytest_cache

.DS_Store
frontend/node_modules
frontend/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
