[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
peewee = "*"
flasgger = "*"
pytest-flask = "*"
psycopg2-binary = "*"
requests = "*"
flask-cors = "*"
pyjwt = "*"
flask-redis = "*"
hashids = "*"
shapely = "*"
uwsgi = "*"
python-dateutil = "*"
freezegun = "==0.3.15"

[requires]
python_version = "3.8.3"
